@import "_variables";
@import "_extend";
@import "_mixin";
@import "_fonts";

#first-screen
{
    p
    {
        color: $main-red;
        font-size: 24px;
        font-weight: 700;
    }
    h1
    {
        font-size: 48px;
        font-weight: 700;
        @media screen and (max-width :576px) {
            font-size: 28px;
        }
    }
    span
    {
        font-size: 18px;
        font-weight: 400;
    }
    // .carousel::after
    // {
    //     position: absolute;
    //     content: "";
    //     top: 50%;
    //     height: 100%;
    //     width: 100%;
    //     right: -50%;
    //     transform: translate(-50%,-50%);
    //     background: no-repeat 90% url("./../img/slider-bg.svg");
    // }
    .carousel-inner
    {
        border-radius: 50%;
        box-shadow: -10px -10px 1px 1px $main-red;
        img
        {
            height: 635px;
        }
    }
    .carousel-indicators li 
    {
        width: 20px;
        position: relative;
        height: 20px;
        border-radius: 50%;
        background-color: transparent;
        border: 3px solid $main-red;
        opacity: 1;
    }
    .carousel-indicators li.active
    {
        background: $main-red;
    }

    
}

#why
{
    .card-container
    {
        .card
        {
            padding: 0 0 20px 20px;
            border: none;
            filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
            border-radius: 15px;
            .card-img
            {
                background: $main-red;
                border-radius: 0 15px 0 85%;
            }
            h3
            {
                font-size: 24px;
                font-weight: 700;
            }
            p
            {
                font-size: 18px;
            }
            &-inverted
            {
                background: $main-red;
                color: #fff;
                .card-img
                {
                    background: #fff;
                }
            }
        }
    }
}
.invert-x
{
    transform: scaleX(-1);
}
#replacement
{
    .equals
    {
        font-size: 80px;
        line-height: 24px;
        width: 50px;
        color: $main-red;
        letter-spacing: -15px;
        transform: translateY(5px);
        display: flex;
    }
    h1
    {
        font-weight: 700;
        font-size: 40px;
        @media screen and (max-width :576px) {
            font-size: 36px;
        }
    }
    h2
    {
        font-size: 24px;
        font-weight: 700;
    }
    table
    {

        font-size: 18px;
        @media screen and (max-width :576px) {
            font-size: 14px;
        }
        text-align: center;
        // border-radius: 15px;
        // border-right: $main-red 1px solid;
        // z-index: 9;
        transform: translateY(-30px);
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 10px 10px 0 0 ;

        tr
        {
            &:first-child,
            &:last-child
            {
                border-radius: 10px 0 0 0;
            }
            th:first-child,
            td:first-child
            {
                background: $main-red;
                color: #fff;
                padding: 10px 0;
                font-weight: 700;
            }
            td:not(:first-child),
            th:not(:first-child)
            {
                border-right: $main-red 1px solid;
                background: #fff;
            }
            &:last-child
            {
                td:first-child
                {
                    border-radius: 0 0 0 10px;
                }
            }
            &:nth-child(even):not(:first-child)
            {
                background: $light-gray;
                td:not(:first-child)
                {
                    font-weight: 700;
                }
            }
            &:first-child
            {
                border-top: $main-red 1px solid;
            }
            &:last-child
            {
                td:not(:first-child)
                {
                    border-bottom: $main-red 1px solid;
                }
                td:last-child
                {
                    border-radius: 0 0 15px 0;
                }
            }
            th:first-child
            {
                border-radius: 20px 0 0 0;
            }
            th:last-child
            {
                border-radius:  0  20px 0 0;
            }
            th:not(:first-child)
            {
                border-top:  $main-red 1px solid;
            }
        }
    }
    
}
