<section id="blog" class="my-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <h1 class="section-header">Наш блог</h1>
            </div>
            <div class="col-md-6 col-12 controls d-flex align-items-end justify-content-md-end justify-content-between">
                <button type="button" id="slider-left-btn" class="slick-next"><i class="fas fa-arrow-left"></i></button>
                <a href="/blog-list">&nbsp;Смотреть все&nbsp;</a>
                <button type="button" id="slider-right-btn" class="slick-next"><i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <div id="slider">
                    <div class="slider-card d-flex flex-column ">
                        <img src="./../img/slider-1.jpg" alt="" class="img-fluid">
                        <h3 class="my-4">Стеклопластиковая
                        арматура</h3>
                        <p>Современный рынок строительных
                        материалов Украины не отстает от
                        мировых тенденций — у нас при
                        строительстве всё большим
                        спросом начинают пользоваться...</p>
                        <a href="#" class="red-btn my-2">Подробнее</a>
                    </div>
                    <div class="slider-card d-flex flex-column ">
                        <img src="./../img/slider-2.jpg" alt="" class="img-fluid">
                        <h3 class="my-4">Стеклопластиковая
                            арматура</h3>
                        <p>Современный рынок строительных
                            материалов Украины не отстает от
                            мировых тенденций — у нас при
                            строительстве всё большим
                            спросом начинают пользоваться...</p>
                        <a href="#" class="red-btn my-2">Подробнее</a>
                    </div>
                    <div class="slider-card d-flex flex-column ">
                        <img src="./../img/slider-3.jpg" alt="" class="img-fluid">
                        <h3 class="my-4">Стеклопластиковая
                            арматура</h3>
                        <p>Современный рынок строительных
                            материалов Украины не отстает от
                            мировых тенденций — у нас при
                            строительстве всё большим
                            спросом начинают пользоваться...</p>
                        <a href="#" class="red-btn my-2">Подробнее</a>
                    </div>
                    <!-- #region tempdata -->
                    @@for(let i = 0; i < 20; i++)
                    {
                        <div class="slider-card d-flex flex-column ">
                        <img src="./../img/slider-1.jpg" alt="" class="img-fluid">
                        <h3 class="my-4">Стеклопластиковая
                        арматура</h3>
                        <p>Современный рынок строительных
                        материалов Украины не отстает от
                        мировых тенденций — у нас при
                        строительстве всё большим
                        спросом начинают пользоваться...</p>
                        <a href="#" class="red-btn my-2">Подробнее</a>
                    </div>
                    }
                    <!-- #endregion -->
                </div>
            </div>
        </div>
    </div>
</section>