<section id="contuct-us" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="" method="post">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 col-12">
                            <h2>@@title</h2>
                        </div>
                        <div class="col-md-6 col-12">
                            <span>
                                Оставте свой номер и мы вам <br> перезвоним для заказа
                            </span>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-12 col-md-4">
                            <label for="parent" class="form-label">Ваше имя</label>
                            <input type="tel" class="form-control" placeholder="Иванов Иван Иванович">
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="parent" class="form-label">Номер телефона</label>
                            <input id="masked-phone-input" type="tel" class="form-control" data-mask="+38 000-000-0000" placeholder="+38 000-000-0000">
                        </div>
                        <div class="col-12 col-md-4 d-flex flex-column justify-content-end my-3 my-md-0">
                            <button type="submit" class="red-btn">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>