<section id="contuct-us-big">
    <div class="container">
        <div class="row">
            <h1 class="container-header">Заполните форму <br>
            и мы свяжемся с Вами</h1>
        </div>
        <div class="row my-5">
            <form action="" method="post">
                <div class="row">
                    <div class="row col-md-6 col-12">
                        <div class="col-12">
                            <label for="parent" class="form-label mx-4">Ваше имя</label>
                            <input type="tel" class="form-control" placeholder="Иванов Иван Иванович">
                        </div>
                        <div class="col-12">
                            <label for="parent" class="form-label mx-4">Номер телефона</label>
                            <input id="masked-phone-input" type="tel" class="form-control" data-mask="+38 000-000-0000"
                                placeholder="+38 000-000-0000">
                            </div>
                        <div class="col-12">
                            <label for="parent" class="form-label mx-4">E-mail</label>
                            <input type="tel" class="form-control" placeholder="yourmail@mail.mail">
                        </div>
                    </div>
                    <div class="col-md-6 col-12 my-4 d-flex justify-content-center align-items-center flex-column">
                        <div class="d-flex flex-column align-items-end textarea w-100">
                            <textarea class="w-100" name="message" id="" cols="30" rows="10" placeholder="Напишите нам и мы ответим на все 
ваши вопросы"></textarea>
                            <button type="submit" class="red-btn">Отправить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>